.8_5 { 
	overflow:hidden;
}
.e8_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:1152px;
	height:1261px;
	position:absolute;
}
.e8_10 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:33px;
	position:absolute;
	left:235px;
	top:269px;
	font-family:Heebo;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e8_53 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:47px;
	position:absolute;
	left:235px;
	top:462px;
	font-family:Heebo;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e8_59 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:47px;
	position:absolute;
	left:235px;
	top:655px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e8_65 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:47px;
	position:absolute;
	left:235px;
	top:848px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e8_46 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:156px;
	height:54px;
	position:absolute;
	left:235px;
	top:160px;
	font-family:Heebo;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e8_47 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:391px;
	top:318px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_54 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:391px;
	top:511px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_60 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:391px;
	top:704px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_66 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:391px;
	top:897px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.8_49 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_49 { 
	position:absolute;
	left:371px;
	top:322px;
}
.8_55 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_55 { 
	position:absolute;
	left:371px;
	top:515px;
}
.8_61 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_61 { 
	position:absolute;
	left:371px;
	top:708px;
}
.8_67 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_67 { 
	position:absolute;
	left:371px;
	top:901px;
}
.e8_48 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:25px;
	position:absolute;
	left:235px;
	top:318px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_56 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:235px;
	top:511px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_62 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:235px;
	top:704px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_68 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:235px;
	top:897px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_17 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:43px;
	position:absolute;
	left:235px;
	top:358px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e8_57 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:89px;
	position:absolute;
	left:235px;
	top:551px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e8_63 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:89px;
	position:absolute;
	left:235px;
	top:744px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e8_69 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:682px;
	height:89px;
	position:absolute;
	left:235px;
	top:937px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e8_20 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:43px;
	position:absolute;
	left:893px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.e8_21 { 
	color:rgba(0, 168.0000051856041, 204.00000303983688, 1);
	width:106px;
	height:27px;
	position:absolute;
	left:800px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.e8_22 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:43px;
	position:absolute;
	left:986px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.8_50 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e8_50 { 
	width:681px;
	height:0px;
	position:absolute;
	left:236px;
	top:430px;
}
.8_58 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e8_58 { 
	width:681px;
	height:0px;
	position:absolute;
	left:236px;
	top:623px;
}
.8_64 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e8_64 { 
	width:681px;
	height:0px;
	position:absolute;
	left:236px;
	top:816px;
}
.8_71 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e8_71 { 
	width:681px;
	height:0px;
	position:absolute;
	left:236px;
	top:1026px;
}
.e257_154 { 
	width:107px;
	height:130px;
	position:absolute;
	left:25px;
	top:27px;
	background-image:url(images/my_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
