.6_52 { 
	overflow:hidden;
}
.e6_52 { 
	background-color:rgba(255, 255, 255, 1);
	width:1152px;
	height:2041px;
	position:absolute;
}
.e8_88 { 
	border-radius:500px;
	background-color:rgba(227.37499594688416, 248.62499088048935, 255, 1);
	width:243px;
	height:243px;
	position:absolute;
	left:755px;
	top:223px;
}
.e282_155 { 
	width:506px;
	height:211px;
	position:absolute;
	left:148px;
	top:228px;
}
.e6_97 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:506px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Heebo;
	text-align:left;
	font-size:44px;
	letter-spacing:0;
	line-height:px;
}
.e6_100 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:497px;
	height:66px;
	position:absolute;
	left:0px;
	top:145px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_68 { 
	color:rgba(0, 0, 0, 1);
	width:57px;
	height:43px;
	position:absolute;
	left:856px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.e6_99 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:43px;
	position:absolute;
	left:882px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.e6_71 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:43px;
	position:absolute;
	left:1021px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:20px;
	letter-spacing:0;
}
.e282_154 { 
	width:208px;
	height:47px;
	position:absolute;
	left:147px;
	top:497px;
}
.e8_3 { 
	background-color:rgba(158.31250101327896, 225.99380046129227, 255, 1);
	width:208px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.e8_0 { 
	color:rgba(255, 255, 255, 1);
	width:167px;
	height:21px;
	position:absolute;
	left:41px;
	top:10px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e245_163 { 
	width:244px;
	height:244px;
	position:absolute;
	left:762px;
	top:209px;
}
.245_161 { 
	overflow:hidden;
}
.e245_161 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:244px;
	height:244px;
	position:absolute;
	left:0px;
	top:0px;
}
.e244_156 { 
	width:291px;
	height:266px;
	position:absolute;
	left:-23px;
	top:-12px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.e250_227 { 
	width:107px;
	height:130px;
	position:absolute;
	left:25px;
	top:27px;
	background-image:url(images/my_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	
}
.e282_169 { 
	width:761px;
	height:996px;
	position:absolute;
	left:148px;
	top:1006px;
}
.e8_89 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:152px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Heebo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e246_192 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:369px;
	height:44px;
	position:absolute;
	left:343px;
	top:87px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e246_193 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:213px;
	height:44px;
	position:absolute;
	left:343px;
	top:348px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e246_194 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:348px;
	height:44px;
	position:absolute;
	left:343px;
	top:603px;
	font-family:Heebo;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e246_195 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:246px;
	height:180px;
	position:absolute;
	left:79px;
	top:343px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background-image:url(images/coffee_cup_haha_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e246_196 { 
	color:rgba(133.62708002328873, 148.62604558467865, 163.62499594688416, 1);
	width:95px;
	height:29px;
	position:absolute;
	left:431px;
	top:404px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e246_197 { 
	color:rgba(133.62708002328873, 148.62604558467865, 163.62499594688416, 1);
	width:91px;
	height:29px;
	position:absolute;
	left:431px;
	top:148px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e246_198 { 
	color:rgba(133.62708002328873, 148.62604558467865, 163.62499594688416, 1);
	width:185px;
	height:29px;
	position:absolute;
	left:431px;
	top:656px;
	font-family:Heebo;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e246_199 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:418px;
	height:93px;
	position:absolute;
	left:343px;
	top:196px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e246_200 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:418px;
	height:93px;
	position:absolute;
	left:343px;
	top:451px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e246_201 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:415px;
	height:93px;
	position:absolute;
	left:346px;
	top:705px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e282_158 { 
	width:62px;
	height:60px;
	position:absolute;
	left:343px;
	top:134px;
}
.e246_202 { 
	
	color: white;
	width:62px;
	height:25px;
	position:absolute;
	left:8px;
	top:19px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	vertical-align: middle;
}
.e246_205 { 
 background-color:rgba(0, 0, 0, 1);
	color:white;
	width:60px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e282_159 { 
	width:62px;
	height:60px;
	position:absolute;
	left:343px;
	top:390px;
}
.e246_203 { 
	background-color:rgba(20.000000707805157, 40.00000141561031, 80.00000283122063, 1);
	width:62px;
	height:25px;
	position:absolute;
	left:0px;
	top:18px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e246_206 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:60px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e282_160 { 
	width:62px;
	height:60px;
	position:absolute;
	left:343px;
	top:642px;
}
.e246_204 { 
	background-color:rgba(20.000000707805157, 40.00000141561031, 80.00000283122063, 1);
	width:62px;
	height:25px;
	position:absolute;
	left:0px;
	top:18px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e246_207 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:60px;
	position:absolute;
	left:10px;
	top:0px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e246_208 { 
	transform: rotate(0.000005008956130975318deg);
	width:682px;
	height:0px;
	position:absolute;
	left:79px;
	top:308px;
}
.246_208 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e246_209 { 
	transform: rotate(0.000005008956130975318deg);
	width:682px;
	height:0px;
	position:absolute;
	left:79px;
	top:554px;
}
.246_209 { 
	border:1px solid rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
}
.e246_210 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:246px;
	height:190px;
	position:absolute;
	left:79px;
	top:82px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background-image:url(images/jbl_speaker_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e246_211 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:174px;
	height:245px;
	position:absolute;
	left:115px;
	top:580px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background-image:url(images/coffee_poster_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e297_143 { 
	width:314px;
	height:65px;
	position:absolute;
	left:289px;
	top:931px;
}
.e282_162 { 
	width:65px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/facebook.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e282_163 { 
	width:65px;
	height:65px;
	position:absolute;
	left:249px;
	top:0px;
	background-image:url(images/linkedin.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e282_164 { 
	width:64px;
	height:65px;
	position:absolute;
	left:125px;
	top:0px;
	background-image:url(images/twitter.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e282_168 { 
	width:1152px;
	height:396px;
	position:absolute;
	left:0px;
	top:595px;
}
.e8_73 { 
	background-color:rgba(237.0000010728836, 247.00000047683716, 250.00000029802322, 1);
	width:1152px;
	height:396px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_86 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:129px;
	height:60px;
	position:absolute;
	left:148px;
	top:7px;
	font-family:Heebo;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e8_107 { 
	color:rgba(0, 168.0000051856041, 204.00000303983688, 1);
	width:208px;
	height:20px;
	position:absolute;
	left:796px;
	top:27px;
	font-family:Heebo;
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}
.e282_165 { 
	width:418px;
	height:295px;
	position:absolute;
	left:132px;
	top:69px;
}
.e282_156 { 
	width:418px;
	height:295px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_74 { 
	box-shadow:0px 4px 10px rgba(187.00000405311584, 225.00000178813934, 250.00000029802322, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:418px;
	height:295px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_75 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:85px;
	position:absolute;
	left:23px;
	top:24px;
	font-family:Heebo;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e8_76 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:239px;
	height:34px;
	position:absolute;
	left:179px;
	top:126px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_79 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:368px;
	height:117px;
	position:absolute;
	left:23px;
	top:171px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.8_77 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_77 { 
	position:absolute;
	left:153px;
	top:129px;
}
.e8_78 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:23px;
	top:126px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e282_166 { 
	width:418px;
	height:295px;
	position:absolute;
	left:585px;
	top:69px;
}
.e282_167 { 
	width:418px;
	height:295px;
	position:absolute;
	left:0px;
	top:0px;
}
.e282_157 { 
	width:418px;
	height:295px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_80 { 
	background-color:rgba(255, 255, 255, 1);
	width:418px;
	height:295px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e8_81 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:85px;
	position:absolute;
	left:23px;
	top:24px;
	font-family:Heebo;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}
.e8_84 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:374px;
	height:34px;
	position:absolute;
	left:23px;
	top:126px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e8_85 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:368px;
	height:117px;
	position:absolute;
	left:23px;
	top:169px;
	font-family:Heebo;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e8_82 { 
	color:rgba(33.00000183284283, 36.00000165402889, 61.00000016391277, 1);
	width:239px;
	height:34px;
	position:absolute;
	left:179px;
	top:126px;
	font-family:Heebo;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.8_83 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e8_83 { 
	position:absolute;
	left:154px;
	top:129px;
}
